<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @command.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @command.body %>
</p>

<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
